ul {
	list-style: none;
	padding: 0 0 0 0;
	border: solid 3px black;
	border-radius: 5px;
	display: inline-block;
	margin-right: 10px;
	width: 150px;
}

li {
	margin: none;
	text-align: center;
}

li:nth-child(1) {
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 5px;
	text-align: right;
}

li:nth-child(2) {
	font-size: 3em;
	font-weight: bolder;
}

li:nth-child(3){
	font-style: italic;
}

li:nth-child(4){
	
}
